@use "sass:map";
@import '../../styles/palette.scss';
@import '../../styles/figures.scss';

.root {
    color: map.get($text-palette, "primary");
    margin: 0 auto;
    display: flex;
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
}

.hide {
    opacity: 0;
}

.title {
    color: map.get($text-palette, "main-title");
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 34px;
    margin-top: 40px;
    padding-right: 55px;
};

.content {
    width: 50%;
}

.text {
    color: map.get($text-palette, "info");
    margin-bottom: 60px;
    width: 70%;
}

.visualContent {
    width: 50%;
    display: flex;
    justify-content: right;
}

.imageContainer {
    position: relative;
    img {
        padding-left: 50px;
        width: 501px !important;
        height: 504px !important;
    }
    &::after {
        content: '';
        position: absolute;
        top: 324px;
        left: -23px;
        @include triangle-left("secondary", 20px);
    }
    &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 69px;
        right: -21px;
        @include triangle-right("secondary", 20px);
    }
    .triangle {
        z-index: 1;
        position: absolute;
        top: 410px;
        right: -31px;
        @include triangle-right("secondary", 40px);
    }
}
