@use 'sass:map';
@import '../../styles/palette.scss';
@import '../../styles/responsive.scss';

.root {
    display: flex;
    max-width: $large-max-width;
    margin: 0 auto;
}

.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    span {
        margin: 12px;
    }
    h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
    }
    p {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        width: 252px;
        height: 72px;
    }
}
