@use 'sass:map';
@import '../../styles/palette.scss';

.root {
    display: flex;
}

.title {
    color: map.get($text-palette, 'main-title');
    max-width: 50%;
    min-width: 50%;
    h2 {
        font-family: Inter;
        font-weight: 800;
        font-size: 48px;
        margin-bottom: 20px;
    }
    p {
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        height: 224px;
        width: 523px;
        line-height: 32px;
    }
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    row-gap: 30px;
    column-gap: 80px;
    grid-template-rows: repeat(2, 100px);
}
