.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    min-width: 299px;
    padding-left: 35px;
    padding-top: 34px;
    border: 1.5px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.title {
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
    margin-bottom: 11px;
}
.description {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 28px;
    max-width: 237px;
}
.price {
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
    margin-bottom: 11px;
}
.priceType {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 35px;
}
.benefitsList li {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-bottom: 15px;
}
.benefitsList li:before {
    content: '✓';
    margin-right: 24px;
    color: black;
}
